@using Resume.UI.Models

<div class="tile">
    @if(show)
    {
        <button @onclick="@(e => toggleShow())">
            <h4>
                [-] @experience.Name
            </h4>
        </button>
        <div class="body">
            <div class="details">
                <div class="label">
                    Details
                </div>
                <div class="value">
                    @experience.Description
                </div>
            </div>
            <div class="position">
                <div class="label">
                    Position
                </div>
                <div class="value">
                    @($"{experience.Position.Name} ({experience.Position.StartDate.Year} - ")
                    @if (experience.Position.EndDate != null)
                    {
                        @experience.Position.EndDate.Value.Year
                    }
                    )
                </div>
            </div>
        </div>
    }
    else
    {
        <button @onclick="@(e => toggleShow())">
            <h4>
                [+] @experience.Name
            </h4>
        </button>
    }
</div>

@code {
    [Parameter]
    public Experience experience { get; set; } = new Experience();
    private bool show { get; set; } = false;

    private void toggleShow() => show = !show;
}